{% extends 'base.html' %}

{% block head%} 

{% endblock%}


{% block body%}
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <h1 class="navbar-brand" href="#page-top">IT CLUB</h1>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">News</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h2 class="text-white font-weight-bold">Your favorite place to study any PROGRAMMING{course}</h2>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Welcome to the IT Club website. We seek to facilitate your access to the highest levels of learning. Our services are not limited to Al-Balqa Applied University.</p>
                    <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">FOCUS WHITH ME !!</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4">IT Club is your way out of the ordinary <br>
It seeks to deliver education in a fun and easy way <br>Excuse us<br>
(( we will not prolong talking about ourselves, because we will prolong our actions))</p>
                    <a class="btn btn-light btn-xl" href="#services">What is your Services</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Our Service</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Undergraduate Subjects</h3>
                        <p class="text-muted mb-0">Serve students and guide them to success</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Event management and supervision</h3>
                        <p class="text-muted mb-0">The activities develop students' skills and make them able to cooperate and understand how to work in a team</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">social network</h3>
                        <p class="text-muted mb-0">Communication skill is no less important than programming . We seek to build it in the students of our university</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Mercy</h3>
                        <p class="text-muted mb-0">Trying to help those in need through free teaching or donations and so on</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio-->
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="https://live.bau.edu.jo//BauLivePortal/attch/11389_5.jpg" title="NEWS">
                        <img class="img-fluid" src="https://live.bau.edu.jo//BauLivePortal/attch/11389_5.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">ALBALQA NEWS</div>
                            <div class="project-name">NEW NEWS</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="https://live.bau.edu.jo//BauLivePortal/attch/11389_5.jpg" title="NEWS">
                        <img class="img-fluid" src="https://live.bau.edu.jo//BauLivePortal/attch/11389_5.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">ALBALQA NEWS</div>
                            <div class="project-name">NEW NEWS</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="https://live.bau.edu.jo//BauLivePortal/attch/11389_5.jpg" title="NEWS">
                        <img class="img-fluid" src="https://live.bau.edu.jo//BauLivePortal/attch/11389_5.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">ALBALQA NEWS</div>
                            <div class="project-name">NEW NEWS</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="https://live.bau.edu.jo//BauLivePortal/attch/11509_5.jpg" title="NEWS">
                        <img class="img-fluid" src="https://live.bau.edu.jo//BauLivePortal/attch/11509_5.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">ALBALQA NEWS</div>
                            <div class="project-name">NEW NEWS</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="https://live.bau.edu.jo/BauLivePortal/attch/10908_1.jpg" title="NEWS">
                        <img class="img-fluid" src="https://live.bau.edu.jo/BauLivePortal/attch/10908_1.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">ALBALQA NEWS</div>
                            <div class="project-name">NEW NEWS</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="https://live.bau.edu.jo//BauLivePortal/attch/11417_1.jpg" title="NEWS">
                        <img class="img-fluid" src="https://live.bau.edu.jo//BauLivePortal/attch/11417_1.jpg" alt="..." />
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">ALBALQA NEWS</div>
                            <div class="project-name">NEW NEWS</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to action-->
    <section class="page-section bg-dark text-white">
        <div class="container px-4 px-lg-5 text-center">
            <h3 class="mb-4">If you want to become a member of the IT CLUB and give you some of our experience, do not hesitate to send a request</h3>
            <a class="btn btn-light btn-xl" href="https://docs.google.com/forms/d/e/1FAIpQLScWcbt4rHvoXtHYZNWK1vXp_S7yF5-nmy_tQ2RdwBxt8usMbA/viewform"> Send </a>
        </div>
    </section>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Contact</h2>
                    <hr class="divider" />
                    <p class="text-muted mb-5">If you want to ask us or inquire about something or want help or service (we are your first resort)</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" name="contactForm" action="/" method="POST">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="name" id="name" type="text" placeholder="Enter your name..." />
                            <label for="name">Full name</label>
                            <div class="invalid-feedback" >A name is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="email" id="email" type="email" placeholder="name@example.com"  />
                            <label for="email">Email address</label>
                            <div class="invalid-feedback" >An email is required.</div>
                            <div class="invalid-feedback" >Email is not valid.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="phone" id="phone" type="tel" placeholder="(123) 456-7890"  />
                            <label for="phone">Phone number</label>
                            <div class="invalid-feedback" >A phone number is required.</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" name="message" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" ></textarea>
                            <label for="message">Message</label>
                            <div class="invalid-feedback" >A message is required.</div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-xl " id="submitButton" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-4 text-center mb-5 mb-lg-0">
                    <i class="bi-phone fs-2 mb-3 text-muted"></i>
                    <div>+962781368672</div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5"><div class="small text-center text-muted">This website was built by IT club members</div></div>

        <a class="container px-404 ">bauitclub@gmail.com</a>

        <a class="container px-4 px-lg-5" href="https://instagram.com/it_club_bau?igshid=YWJhMjlhZTc=">Our INSTEGRAM ACC</a>

        

        

        

    </footer>
    <!-- Bootstrap core JS-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

{% endblock %}